<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <header>
        <nav>
            <a href="/admin/home">Home</a>
            <a href="/admin/createuser">Create User</a>
            <a href="/admin/add">Add Task</a>
            <a href="/admin/tasks">Tasks</a>
        </nav>
    </header>
    <div>
        <h1>welcome to my home page</h1>
    </div>
    <div>
        <form action="/admin/gettask" method="post">
            <label>Select User</label><br>
            <select name="userId" required>
                <option value="">--Select User--</option>
                {{#each users}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select><br><br>
           
            <button>Get Tasks</button>
        </form>


        <div>
             {{#if userTask.length}}
            <table border="">
                <th>User Task</th>
                <th>Task Name</th>
                <th>Task Type</th>
                <th>User Mobile No</th>
                {{#each userTask}}
                <tr>
                    <td>{{this.user.name}}</td>
                    <td>{{this.taskName}}</td>
                    <td>{{this.taskType}}</td>
                    <td>{{this.user.mobile}}</td>
                </tr>
                {{/each}}
            </table>
            {{else}}
            <div></div>
            {{/if}}
        </div>
    </div>
     
</body>

</html>