<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="/admin/home" class="all-link">Home</a>
                <a href="/admin/createuser" class="all-link">Create User</a>
                <a href="/admin/add" class="all-link">Add Task</a>
                <a href="/admin/tasks" class="all-link">Get Tasks</a>
                <a href="/admin/downloadExcel" class="all-link">download</a>
            </nav>
    </header>
    <div class="main-container">
        <div>
            <h1>Get User Tasks</h1>
        </div>
        <div>
            <div class="form-data">
                <form action="/admin/gettask" method="post">
                    <label>Select User</label><br>
                    <select name="userId" class="select-option" required>
                        <option value="">--Select User--</option>
                        {{#each users}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select><br><br>

                    <button>Get Tasks</button>
                </form>

            </div>

        </div>
        <div>
            {{#if userTask.length}}
            <table border="" class="table-style">
                <thead>
                    <th>Assign Task</th>
                    <th>Task Name</th>
                    <th>Task Type</th>
                    <th>User Mobile No</th>
                </thead>
                <tbody>
                    {{#each userTask}}
                    <tr>
                        <td>{{this.user.name}}</td>
                        <td>{{this.taskName}}</td>
                        <td>{{this.taskType}}</td>
                        <td>{{this.user.mobile}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <div class="enpty-task">
                <h4>Select User and Get User Tasks</h4>
            </div>
            {{/if}}
        </div>
    </div>

</body>

</html>